<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>

<body>
<div class="error">
    <div class="error-descr-0" th:utext="${error0}"></div>
    <div class="error-descr-1" th:utext="${error1}"></div>
    <div class="error-descr-2" th:utext="${error2}"></div>
    <div class="img-err-404" onclick="location.href='/'"></div>
</div>
<body>
</html>
