<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="bookRow">
    <div th:id="'bookRow_' + ${bookId}" th:book_id="${bookId}" class="row-book">
        <div class="row-book-id book-selector-id" th:utext="${bookId}"></div>
        <div class="row-book-info">
            <div class="row-title">
                <input type="text" class="book-selector-title" th:placeholder="#{enter-title}" th:value="*{title}"
                       onchange="onChangeText(this)" required/>
                <button class="row-details-button book-selector-button-details" onclick="showBookDetails(this)"
                        th:utext="#{book-details}">Details
                </button>
            </div>
            <div class="row-author">
                <select class="book-selector-author table-select" onfocus="fillAuthorSelection(this)"
                        onchange="onSelectAuthor(this)">
                    <option selected id="authorId" name="authorIdName" th:value="*{author.id}"
                            th:label="*{author.name}"></option>
                </select>
            </div>
            <div class="row-genre">
                <select class="book-selector-genre table-select" onfocus="fillGenreSelection(this)"
                        onchange="onSelectGenre(this)">
                    <option selected id="genreId" name="genreIdName" th:value="*{genre.id}"
                            th:label="*{genre.name}"></option>
                </select>
            </div>
            <div class="row-actions">
                <button class="row-save-button book-selector-button-save" onclick="saveBook(this)"
                        th:utext="#{save-book}" disabled>Save
                </button>
                <button class="row-delete-button book-selector-button-delete" onclick="deleteBook(this)"
                        th:utext="#{delete-book}">Delete
                </button>
            </div>
        </div>
    </div>
</th:block>
